@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
   font-family: 'Bergen-Bold';
   src: url('../fonts/BergenText-Bold.ttf') format('truetype');
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Bookman Old Style', Georgia, serif;
   background-color: #eeeae9;
   min-height: 100vh;
}

header {
   position: relative;
   display: flex;
   width: 90%;
   margin: 1.5em auto;
   justify-content: space-between;
   align-items: center;
   height: 80px;
   z-index: 2;
   gap: 50px;
}

.logo a {
   display: flex;
   align-items: center;
   gap: 23px;
   text-decoration: none;
   color: #ffffff;
}

.logo img {
   height: 65px;
}

.logo h1 {
   font-family: 'Impact', sans-serif;
   font-size: 35px;
   font-weight: bold;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo h1 span {
   color: #bc2922;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav ul {
   font-family: 'Bergen-Bold';
   text-transform: uppercase;
   display: flex;
   justify-content: space-between;
   gap: 30px;
   list-style-type: none;
   font-size: 17px;
}

nav ul li a {
   text-decoration: none;
   color: #fff;
   font-weight: bold;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

nav ul li a:hover {
   color: #dbdbdb;
}

.main {
   width: 80%;
}
.kano {
   font-size: 55px !important;
   color: #bc2922;
   font-weight: 800 !important;
}

.contacts {
   display: flex;
   width: 900px;
   margin: 40px auto;
   justify-content: space-between;
}

.contact {
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.contact-icon {
   text-align: center;
}

.contact-icon i {
   font-size: 30px;
   padding-bottom: 5px;
}

.contact-icon p {
   letter-spacing: 3px;
}

.contact-text {
   font-size: 24px;
   font-weight: 500;
}

footer {
   background-color: #000;
   padding: 25px 0;
}

.footer-info {
   color: #fff;
   display: flex;
   justify-content: space-between;
   width: 1120px;
   margin: 0 auto;
   align-items: center;
}

.footer-info p {
   font-size: 18px;
}

.footer-info a i {
   color: #fff;
   text-decoration: none;
   font-size: 40px;
}

.fa-facebook:hover {
   color: #0866ff;
}

.fa-instagram:hover {
   color: #ff308a;
}

.footer-info div {
   display: flex;
   width: 90px;
   justify-content: space-between;
}

.footer-info div p {
   font-size: 40px;
}

.fa-bars {
   display: none;
}

.fa-bars::before {
   display: none;
}

.vertical {
   display: none;
}

.carousel-container {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100vh;
   margin-top: -150px;
   bottom: 1;
}

.carousel-track {
   display: flex;
   transition: transform 0.5s ease-in-out;
   height: 100%;
}

.carousel-slide {
   min-width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background: #f4f4f4;
}

.carousel-image {
   object-fit: cover;
   width: 100%;
   height: 100vh;
   object-position: 50% 50%;
   clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.mobile-menu-container {
   display: none;
}

@media (max-width: 500px) {
   .desktop-menu {
      display: none;
   }

   header {
      display: flex;
      width: 90%;
      gap: 5px;
      justify-content: space-around;
   }

   .contacts {
      width: 100%;
   }

   .logo a {
      gap: 10px;
   }

   .logo h1 {
      font-size: 6vw;
   }

   .logo img {
      width: 35px;
      height: 35px;
   }

   .fa-bars {
      display: block;
      font-size: 30px;
      color: #fff;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   }

   .fa-bars::before {
      display: block;
   }

   .footer-info {
      width: 100%;
      justify-content: space-around;
   }

   .footer-info div {
      width: 50px;
   }

   .footer-info a i {
      font-size: 20px;
   }

   .contacts {
      flex-direction: column;
      gap: 25px;
   }

   .contact {
      align-items: center;
      gap: 15px;
   }

   .horizontal {
      display: none;
   }

   .vertical {
      display: block;
   }

   .vertical img {
      object-fit: cover;
      object-position: 50% 100%;
   }

   .mobile-menu-container {
      position: fixed;
      height: 100vh;
      width: 92vw;
      right: 0;
      bottom: 0;
      background-color: #000000;
      z-index: 3;
      display: grid;
      grid-template-rows: 2fr 5fr 2fr;
      overflow: hidden;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
   }

   .mobile-menu-container.open {
      transform: translateX(0%)
   }

   .mobile-menu-container ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.5rem;
   }

   .logo.mobile a {
      flex-direction: column;
      padding: 50px 0
   }

   .logo.mobile a img {
      width: 100px;
      height: 100px;
   }

   .logo.mobile a h1 {
      font-size: 2rem;;
   }

   .fa-angles-right {
      color: #fff;
      font-size: 3rem;
      text-align: center;
   }

}
